{% extends 'base.html.twig' %}

{% block title %}- {{ produit.libelle}} -{% endblock %}


{% block content %}

    <div class="row">

            <div class="col-lg-5">
                <img class="bd-placeholder-img rounded-circle img-fluid" width="440" height="440" src="{{asset(produit.visuel ) }}" alt="{{ produit.libelle}}"></img>
            </div><!-- /.col-lg-4 -->


            <div class="col-lg-7 my-auto">
                <h1 class="">{{ produit.libelle}}</h1>
                <p>{{ produit.texte }}</p>
                <hr>
                <p>{{ produit.prix }} $</p>
                <a href="{{ path('panierAjouter',{'id': produit.id})}}" class="btn btn-primary">Ajouter au panier</a>
            </div>

    </div><!-- /.row -->



    <hr class="featurette-divider">




{% endblock %}
